---
import {
  Item,
  ItemContent,
  ItemDescription,
  ItemGroup,
  ItemHeader,
  ItemTitle,
} from "./ui/item";
---

<section class="max-w-6xl mx-auto my-28 px-4 md:my-32">
  <h2 class="text-xl text-center font-semibold md:text-2xl">How things work</h2>

  <ItemGroup className="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 md:mt-8">
    <Item variant="outline">
      <ItemHeader>
        <!-- <Image
          src={model.image}
          alt={model.name}
          width={128}
          height={128}
          className="aspect-square w-full rounded-sm object-cover"
        /> -->
        Image or loop here
      </ItemHeader>
      <ItemContent>
        <ItemTitle>Start with a conversation</ItemTitle>
        <ItemDescription
          >We talk through your ideas, your priorities, and what you want the
          day to feel like.</ItemDescription
        >
      </ItemContent>
    </Item>
    <Item variant="outline">
      <ItemHeader>
        <!-- <Image
          src={model.image}
          alt={model.name}
          width={128}
          height={128}
          className="aspect-square w-full rounded-sm object-cover"
        /> -->
        Image or loop here
      </ItemHeader>
      <ItemContent>
        <ItemTitle>I handle the details</ItemTitle>
        <ItemDescription
          >Planning, coordination, and all the behind-the-scenes work are
          covered.</ItemDescription
        >
      </ItemContent>
    </Item>
    <Item variant="outline">
      <ItemHeader>
        <!-- <Image
          src={model.image}
          alt={model.name}
          width={128}
          height={128}
          className="aspect-square w-full rounded-sm object-cover"
        /> -->
        Image or loop here
      </ItemHeader>
      <ItemContent>
        <ItemTitle>You enjoy the party</ItemTitle>
        <ItemDescription
          >Show up, be present, and actually enjoy hosting.</ItemDescription
        >
      </ItemContent>
    </Item>
  </ItemGroup>
</section>
